.status-hud {
  height: 3em;
}

.title-container {
  font-size: 1.5em;
}

.hud-item {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  margin-top: 1em;
  height: 5em;
  display: flex;
}

.scoreboard-item {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.replay-list {
  display: flex;
  flex-direction: column;
  border: 0.1em solid black;
  border-radius: 0.5em;
  overflow-y: scroll;
  flex-grow: 10;
}

.replay-list::-webkit-scrollbar-button {
  opacity: 0;
}

.replay-list-item {
    font-size: 0.8em;
    text-align: center;
}

.replay-list-item:focus {
  border: 1px solid black;
}

.menu-button {
  width: 40%;
  height: 75%;
}

.win {
  background-color: lightgreen;
}

.grid-area {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  position: relative;
  height: 30em;
}

.grid-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 10em;
  height: 10em;
  border: 0.15em solid black;
}

.counter {
  margin-left: 0.5em;
}

.action-button {
  margin-top: 1em;
}
